:root {
  --stu_red: #A33155;
  --stu_pointless_grey: #e7ebed;
}

.main_table {
  width: 100%;
  max-width: min(1000px, 100%);
}

img {
  max-width: min(80vw, 800px);
}

pre {
  width: 100%;
  white-space: pre-wrap
}

tr {

  vertical-align: text-top;
}

ul {
  list-style-type: none;
}

.block {
  width: 100%;
  overflow: hidden;
}

.green_background {
  background-color: green;
}

.red_background {
  background-color: red;
}

html {
  background-color: white;

}

/*
input:is([type="text"],[type="number"]){

        border-width:0;
        background-color:var(--input_field_blue);
}
*/
input:is([type="radio"]) {
  margin: 0;
  /*position:absolute;
         */
}

table {
  border-width: 0;
}

fieldset {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  position: block;
  border-width: 0;

}

.radio_button_margin {
  width: 40px;
  min-width: 42;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: center;
  position: block;
}

.red_text {
  color: var(--stu_red);
}

.stu_header {
  color: white;
  height: max(15vh, 120px);
}

.stu_bg {
  background-color: var(--stu_red);
}

.logo {
  font-size: max(6vh, 30px);
}

.stu_header_2 {
  text-align: right;
  font-size: max(3vh, 20px);
  padding-right: max(10px, 4vh);
}

.stu_header_3 {
  margin: 2px;
  text-align: right;
}

body {
  margin: 0;
}

.grey_background {
  background-color: var(--stu_pointless_grey);
}

.f20 {
  font-size: 20px;
}

.left_block {
  width: min(100px, 10vw);
  min-width: 60px;
  float: left;
  font-size: 1rem;
  font-weight: bold;
  border-right: 2px solid white;
}

.question_cell {
  width: min(90vw, 900px);
  max-width: 90vw;
}

.number_indicator {
  width: min(100px, 10vw);
  min-width: 60px;
  /*max-width:min(100px,10vw);
         */
}

.enforce_same_size {
  display: flex;
  flex-wrap: nowrap;
}

table {
  flex-direction: column;
  table-layout: fixed;

}

.w220 {
  width: 220px;
}
