:root{
        --stu_red:#831135;
        --stu_pointless_grey:#e7ebed;
}
.main_table {
	margin:30px;
	padding-inline:20px;
        width:100%;
        max-width:min(1000px,90vw);

}
img{
        max-width:min(80vw,800px);
}
pre{
        white-space: pre-wrap
}

tr{

	vertical-align:text-top;
}
ul{
	list-style-type:none;
}
.block{
	width:100%;
        overflow: hidden;
}
.green_background{
	background-color:green;
}
.red_background{
	background-color:red;
}
html{
        background-color:white;

}
/*
input:is([type="text"],[type="number"]){

        border-width:0;
        background-color:var(--input_field_blue);
}
*/
input:is([type="radio"]){
        margin:0;
        /*position:absolute;
         */
}
table{
        border-width:0;
}
fieldset{
        padding:0;
        display: flex;
        flex-wrap:nowrap;
        position:block;
        border-width:0;

}
.radio_button_margin{
        width:40px;
        display: flex;
        flex-wrap:nowrap;
        justify-content:center;
        position:block;
}
.red_text{
        color:var(--stu_red);
}
.stu_header{
        color:white;
        height:max(15vh,120px);
}
.stu_bg{
        background-color:var(--stu_red);
}
.logo{
        font-size:max(6vh,30px);
}

.stu_header_2{
        text-align:right;
        font-size:max(3vh,20px);        
}
.stu_header_3{
        margin:2px;
        text-align:right;
}

body{
        margin:0;
}

.grey_background{
        background-color:var(--stu_pointless_grey);
}
.f20{
        font-size:20px;
}
.left_block{
        width:100px;
        float:left;
        border-right:2px solid white;
}









