:root {
  --background_color: #000000;
  --text_color: #ffffff;
}

body {
  background: var(--background_color);
  color: var(--text_color);
}

th {
  width: 90px;
}

.brd {
  border: 1px solid var(--text_color);
}

td {
  width: 90px;
}

input[type="number"] {
  width: 35px;
}

.class_time_border {
  border: 1px solid var(--text_color);
  margin: 5px;
}

fieldset {
  padding: 0px;
  border: 0px;
}

.class_row {
  display: flex;
  flex-flow: row wrap;
}


input::-webkit-outer-spin-button.invisible_input,
input::-webkit-inner-spin-button.invisible_input {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  background: 0;
  color: var(--text_color);
}

input[type=number].invisible_input {
  -moz-appearance: textfield;
  margin: 0;
  border: 0;
  padding: 0;
  background: 0;
  color: var(--text_color);
}


.w90 {
  width: 90px;
}

.w200 {
  width: 200px;
}

.lecture_background {
  background: lightgreen;
  color: darkgreen;
}

.class_background {
  background: lightcyan;
  color: darkcyan;
}
