:root {
  --background_color: #000000;
  --text_color: #ffffff;
}

body {
  background: var(--background_color);
  color: var(--text_color);
}

th {
  border: 1px solid var(--text_color);
  width: 90px;
}

input[type="number"] {
  width: 35px;
}

.class_time_border {
  border: 1px solid var(--text_color);
  margin: 5px;
}

fieldset {
  padding: 0px;
  border: 0px;
}

.class_row {
  display: flex;
  flex-flow: row wrap;
}
