.main_table {
	margin:30px;
	border:1px solid black;
	padding-inline:20px;
}
tr{

	vertical-align:text-top;
}
ul{
	list-style-type:none;
}
.block{
	width:100%;
}
.green_background{
	background-color:green;
}
.red_background{
	background-color:red;
}
